.lead__title {
    max-width: 720px;
    width: calc(100% - 32px);
    margin: 56px auto 0;
    font-family: Inter;
    font-size: 96px;
    font-style: normal;
    font-weight: 900;
    line-height: 100px;
    letter-spacing: 0em;
    text-align: center;

}


@media screen and (max-width: 1024px) and (min-width: 768px) {
    .lead__title {
        
        margin: 48px auto 0;

    }
}


@media screen and (max-width: 767px) and (min-width: 321px) {
    .lead__title {
        margin: 48px auto 0;
        font-family: Inter;
        font-size: 40px;
        font-style: normal;
        font-weight: 900;
        line-height: 44px;
        letter-spacing: 0em;
        text-align: center;



    }
}

@media screen and (max-width: 320px) {
    .lead__title {
        margin: 48px auto 0;
        font-family: Inter;
        font-size: 40px;
        font-style: normal;
        font-weight: 900;
        line-height: 44px;
        letter-spacing: 0em;
        text-align: center;



    }
}
