.place__paragraph { 
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
}


.place__paragraph:nth-child(2) {
    padding-top: 26px;

}

