.cover__overlay {
    background-image: url(../../../images/cover-trains.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    min-height: calc(100vw * 740 / 1184);
    color: #fff;
    position: relative;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 80%;
    z-index: 1;
    box-sizing: border-box;
}

.cover__overlay::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 30%;
    background-color: #2A2C2F;
    z-index: -1;
    transition: 1s;
}

.cover__overlay:hover::before {
    opacity: 80%;
}

@media screen and (min-width: 1185px) {
    .cover__overlay {
    min-height: 740px;
    
}
}